
<ul class="list-inline">
    <li>
    	<a href="https://www.facebook.com/AsociacionGuatemaltecaDeHemofilia" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Nuestra página en facebook" target="_blank">
    		<i class="fa fa-fw fa-facebook"></i>
    	</a>
    </li>
    <li>
        <a href="mailto:christoferen7@gmail.com" class="btn-social btn-outline" title="Email">
            <i class="fa fa-fw fa-envelope"></i>
        </a>
    </li>
    <li>
    	<a href="https://github.com/khrizenriquez/agh-web-page" class="btn-social btn-outline" title="Aporta y ayúdanos a mejorar haciendo pull requests">
    		<i class="fa fa-fw fa-github-alt"></i>
    	</a>
    </li>  
</ul>
